body {
    background: rgb(10,48,218);
background: radial-gradient(circle, rgba(10,48,218,0.8055555555555556) 0%, rgba(110,13,221,1) 100%);
}

#idCirc {
    margin-left: 5%;
    margin-top: 5%;
}

#idRet {
    margin-left: 5%;
    margin-top: 5%;
}

#idTrReta {
    margin-left: 5%;
    margin-top: 5%;
}

#idTrEqu {
    margin: 5%;
    margin-top: 5%;
}

input {
    margin: 10%;
}
